
.Left {
/* 
height: 100vh; */


}

.Right {

    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    /* overflow-y: scroll; */

}